@model AutoMapperPagedList.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">Title</div>
    <div class="display-field">@Model.Title</div>

    <div class="display-label">Body</div>
    <div class="display-field">@Model.Body</div>

    <div class="display-label">Timestamp</div>
    <div class="display-field">@String.Format("{0:g}", Model.Timestamp)</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


