@model PagedList<AutoMapperPagedList.Models.PostViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Title
        </th>
        <th>
            Timestamp
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@item.Title
        </td>
        <td>
			@String.Format("{0:g}", item.Timestamp)
        </td>
    </tr>
}

@if (Model.IsPreviousPage) { 
		@Html.ActionLink("Previous", "Index", new { page = Model.PageIndex - 1 })
}

@(Model.PageIndex + 1) of @(Model.TotalCount / Model.PageSize)

@if (Model.IsNextPage) { 
		@Html.ActionLink("Next", "Index", new { page = Model.PageIndex + 1 })
}


</table>


